{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Nutrition API Request</title>
    <link rel="icon" type="image/x-icon" href = "{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href = "{% static 'css/home.css' %}">
</head>
<body>
    <h1>Get Food Nutrition Values Here (please only enter one at a time):</h1>
    <form method="post">
        Food Name:
        <div>
            {% csrf_token %}
            {{ form.input_food }}
        </div>

        Food Amount (give in metric only):
        <div>
            {% csrf_token %}
            {{ form.input_amount }}     
        </div>   
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href = "{% url 'main' %}">
            <button> Return Home </button>
        </a>
    </div>
</body>
</html>