{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Protein Tracker: Your Everyday App for Easy Macro Maintenance </title>
    <link rel="icon" type="image/x-icon" href = "{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href = "{% static 'css/home.css' %}">
</head>
<body>
    <h1> Ready to begin a new life of convenience? </h1>
    <div>
    <p> Disclaimer: We acknowledge Edamam in the use of their API for our macro calculator.</p>
    </div>
    <div>
        <a href = "{% url 'home' %}">
        <button> Log In </button>
        </a>
    </div>
    <div>
    <br> If you do not have an account:
    <div>
        <a href = "{% url 'sign_up' %}">
        <button> Sign Up Here! </button>
        </a>
    </div>
    </div>
</body>
</html>