{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Check Your Progress</title>
    <link rel="icon" type="image/x-icon" href = "{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href = "{% static 'css/home.css' %}">
</head>
<body>
    <h1>See if you have met all your targets:</h1>
    <form method="post">
        Username:
        <div>
            {% csrf_token %}
            {{ form.username }}
        </div>
        <button type="submit">Submit</button>
    </form>
    <div>
        <a href = "{% url 'main' %}">
            <button> Return Home </button>
        </a>
    </div>
</body>
</html>