{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Password Too Weak! </title>
    <link rel="icon" type="image/x-icon" href = "{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href = "{% static 'css/home.css' %}">
</head>
<body>
    <h1> The inputted password did not satisfy requirements. </h1>
    <p> Ensure that your password is at least 8 characters, has at least one number and special character. </p>
    <div>
        <a href = "{% url 'sign_up' %}">
        <button> Return </button>
        </a>
    </div>
</body>
</html>